@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);

  /* prettier-ignore */
  --ease-elastic: linear(0,.2178 2.1%,1.1144 8.49%,1.2959 10.7%,1.3463 11.81%,1.3705 12.94%,1.3726,1.3643 14.48%,1.3151 16.2%,1.0317 21.81%,.941 24.01%,.8912 25.91%,.8694 27.84%,.8698 29.21%,.8824 30.71%,1.0122 38.33%,1.0357,1.046 42.71%,1.0416 45.7%,.9961 53.26%,.9839 57.54%,.9853 60.71%,1.0012 68.14%,1.0056 72.24%,.9981 86.66%,1);
  /* prettier-ignore */
  --ease-wiggle: linear(0, 0.203 3.4%, 0.383 6.9%, 0.538 10.5%, 0.675 14.3%, 0.733 16.2%, 0.788 18.2%, 0.837 20.2%, 0.882 22.3%, 0.921 24.4%, 0.956 26.6%, 0.987 28.9%, 1.012 31.2%, 1.028 33%, 1.043 34.9%, 1.054 36.8%, 1.064 38.8%, 1.071 40.9%, 1.076 43.1%, 1.079 45.4%, 1.08 47.8%, 1.077 51.5%, 1.07 55.8%, 1.027 72.6%, 1.011 80.8%, 1.006 85.1%, 1.002 89.5%, 1);

  /* animation */
  @keyframes popin {
    0% {
      opacity: 0;
      transform: scale(0.8);
      filter: blur(4px);
    }
    100% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
  }

  @keyframes popout {
    0% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
      filter: blur(4px);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      filter: blur(0px);
      opacity: 1;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Helvetica, Arial, sans-serif;
}

::selection {
  background-color: oklch(88.2% 0.059 254.128);
  color: oklch(42.4% 0.199 265.638);
}

/* Global animations */
@keyframes expend {
  0% {
    width: var(--expend-width-start);
    height: var(--expend-height-start);
    border-radius: var(--expend-radius-start);
    filter: blur(var(--expend-blur-start, 0px));
    opacity: var(--expend-opacity-start, 100%);
    background-color: var(--expend-background-start, inherit);
  }
  5% {
    filter: blur(var(--expend-blur-5, 0.5px));
    opacity: var(--expend-opacity-5, 100%);
  }
  10% {
    filter: blur(var(--expend-blur-10, 2px));
    opacity: var(--expend-opacity-10, 100%);
  }
  90% {
    filter: blur(var(--expend-blur-90, 2px));
    opacity: var(--expend-opacity-90, 100%);
  }
  95% {
    filter: blur(var(--expend-blur-95, 0.5px));
    opacity: var(--expend-opacity-95, 100%);
  }
  100% {
    width: var(--expend-width-end);
    height: var(--expend-height-end);
    border-radius: var(--expend-radius-end);
    filter: blur(var(--expend-blur-end, 0px));
    opacity: var(--expend-opacity-end, 100%);
    background-color: var(--expend-background-end, inherit);
  }
}

@keyframes focus-in {
  0% {
    scale: var(--focus-in-scale-start, 125%);
    filter: var(--focus-in-filter-start, unset);
    opacity: var(--focus-in-opacity-start, 100%);
  }
  80% {
    filter: var(--focus-in-filter-80, unset);
    opacity: var(--focus-in-opacity-80, unset);
  }
  100% {
    scale: var(--focus-in-scale-end, 100%);
    opacity: var(--focus-in-opacity-end, 100%);
  }
}

@keyframes slide-up {
  0% {
    transform: var(--slide-up-transform-start, unset);
    filter: var(--slide-up-filter-start, unset);
    opacity: var(--slide-up-opacity-start, 0);
  }
  100% {
    transform: var(--slide-up-transform-end, unset);
    filter: var(--slide-up-filter-end, unset);
    opacity: var(--slide-up-opacity-end, 1);
  }
}
